/* css styles */
.navbar {
    background-color: #021e45 !important;  /* your custom blue */
  }
  
  .navbar .navbar-brand,
  .navbar-nav .nav-link {
    color: white !important;  /* makes text in the navbar white for contrast */
  }

  body {
    color: #021e45;
  }